<!DOCTYPE html>

<!-- comment -->

<html lang="en">
	<head>
		<title>Sandbox</title>
		<meta charset="utf-8">
        
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
		<link href="base.css" rel="stylesheet" media="screen">
        
        
	</head>
	
	<body>
        
         
         <script src="test.js">
        </script>
        
 <!--       
        <header class="main">
            
      
            <div id="primarylogo"><img src=""/></div>
            
            
            
            <nav><h1>Clark Commission</h1>
</nav>
        <div>   
          <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        
            </ul>
            
            </div> 
            
        </header>
 -->
        
        
        
        
        <section id="tiles">
            <div class="pages" id="sixgallery">Sixth Gallery</div>
            <div class="pages" id="artists">Artists</div>
            <div class="pages" id="events">Events and Projects</div>
            <div class="pages" id="slides">Slides</div>
            <div class="pages" id="resources">Resources</div>
            <div class="pages" id="about">About Us</div>
            
                 </section>
        
        
      <!--
        <section id="largetile">
            <div id="contact">Contact Us</div>
            </section>
    
    -->